body {
    background-image: none;
    background-color: #fafafa;
}
.contenedor_imagen_cabecera {
    display: block;
    width: 100vw;
}

.contenedor_imagen_cabecera img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
input {
    background-color: #ebeaea;
    padding: 2px;
    font-size: 10px;
}
