body {
    margin: 0;
    padding: 0;
    background: url(https://www.turismomexico.es/wp-content/uploads/2015/10/centro-cultural-tijuana.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;

}


.login-box{
    width: 320px;
    height: 420px;
    background:  #9c2073;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}
.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="Name"],
.login-box input[type="Last name"],
.login-box input[type="email"],
.login-box input[type="Username"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]{
    border: none;
    outline:  none;
    height: 40px;
    background:#ffffff ;
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(0, 0, 0);

}.login-box a:hover{
color: #fff;
}