.contenedor_slider {
    max-width: 100vw;
    height: 500px;
    overflow: hidden;
    position: absolute;
}

.slider{
    max-width: 100vw;
    position: relative;
    height: 100%;
    object-fit: cover;
    
  }
  .slider ul{
      display: flex;
      object-fit: cover;
      padding: 0;
      animation: cambio 18s infinite alternate ease-in-out;
      width: 400%;
  }
  .slider li{
      width: 100%;
      object-fit: cover;
      list-style: none;
  }
  .slider img{
      width: 100%;
      object-fit: cover;
  }
  .slider h1 {
    font-size: 3rem;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fafafa;
    
  }
/*Animacion del carrousel */
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }

  /*Responsive */
@media (max-width: 780px) {
  .slider, .slider ul, .slider img{
    height: 80vh;
      overflow: hidden;
  }
  .slider h1 {
    top: 30%;
    left: 45%;
  }
  }
